.navbar {
    background-color: #293f63;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

.navbar a:hover {
    opacity: 1;
}

.navbar-title {
    margin-left: 20px;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.navbar-items li {
    list-style: none;
    margin: 0 15px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
    }
    
    .navbar-title {
        margin-left: 0;
    }
    
    .navbar-items {
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .navbar-items li {
        margin: 10px 0;
    }
}